{{!-- background-image: url("../assets/home.jpg"); --}}
<div class="signin">
  <div id="home">
    <div class="row section"></div>
    <div class="container section">
      <div class="row section">
        <div class="col s4"><a href="/" class="logo-nav-2"></a></div>

               <div class="login card col s8">
                  <div class="glow card-body">
                    <div class="input-field">
                      <input placeholder="Username" id="name" type="text">
                      <label for="name">Name</label>
                    </div>
                                        <div class="input-field">
                      <input placeholder="Password" id="password" type="text">
                      <label for="password">Password</label>
                      {{!-- <a href="/mybeers"> --}}
                      <button id="log-in" class="black-text btn grey lighten-5">Login</button>
                      {{!-- </a> --}}
                      <button id="new-account" class="black-text btn grey lighten-5">Create Account</button>
                    </div>
                  </div>
             </div>
              
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>