<div class="navbar row">
    <a href="/" class="logo-nav"></a>
    <a href="/mybeers" class="flicker my-nav"></a>
    <a href="/search" class="flicker2 search-nav"></a>
</div>
</div>

<br><br><br><br>

<div class="container glow" id="userInput">
    <h2>Add a Beer to Your List</h2>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="inputBeer" type="text" class="validate">
                    <label for="inputBeer">Beer</label>
                </div>
                <div class="input-field col s6">
                    <input id="inputBrewery" type="text" class="validate">
                    <label for="inputBrewery">Brewery</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="inputAbv" type="text" class="validate">
                    <label for="inputAbv">What was the ABV %?</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="inputLocation" type="text" class="materialize-textarea">
                    <label for="inputLocation">Comments</label>
                </div>
            </div>
        </form>

    </div>
    <a class="space waves-effect waves-light black-text btn grey lighten-5" id="beer-btn">Submit</a>
</div>
<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div id="saved-block" class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Saved Beers</h5>
                    <p><strong>Brewery</strong>: {{example.brewery}}</p>
                    <p><strong>Image</strong>: {{example.image}}</p>
                    <p><strong>Beer</strong>: {{example.beer_name}}</p>
                    <p><strong>ABV</strong>: {{example.abv}}</p>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="beerFooter" class="glow">Project by: <a href="https://github.com/jeckhart582">Jason Eckhart</a>, <a href="https://github.com/setheugene">Seth Wills</a> and <a href="https://github.com/jaked9">Jake Duckworth</a><br><a href="https://github.com/jakeD9/project2">Project Github Repo</a></footer>