<div class="navbar row">
    <a href="/" class="logo-nav"></a>
    <a href="/search" class="search-nav"></a>
    <a href="/mybeers" class="my-nav"></a>
</div>
<div class="divider"></div>
</div>

<br><br><br><br>
<div class="container" id="userInput">
    <h2>Create a new post</h2>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="userLocation" type="text" class="validate">
                    <label for="password">Where are you going?</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="datepicker">
                    <label for="datepicker">Pick a date</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn" id="userSubmit">Submit</a>
        </form>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div id="search-block" class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">My Posts</h5>
                </div>
            </div>
        </div>
    </div>
</div>