<div class="navbar row">
    <a href="/" class="logo-nav"></a>
    <a href="/search" class="search-nav"></a>
    <a href="/mybeers" class="my-nav"></a>
</div>
<div class="divider"></div>
</div>

<br><br><br><br>
<div class="container glow" id="userInput">
    <h2>Add a Beer to Your List</h2>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="inputBeer" type="text" class="validate">
                    <label for="inputBeer">Beer</label>
                </div>
                <div class="input-field col s6">
                    <input id="inputBrewery" type="text" class="validate">
                    <label for="inputBrewery">Brewery</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="inputLocation" type="text" class="validate">
                    <label for="inputLocation">Where did you drink it?</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="inputLocation" type="text" class="materialize-textarea">
                    <label for="inputLocation">Comments</label>
                </div>
            </div>
        </form>

    </div>
    <a class="space waves-effect waves-light black-text btn grey lighten-5" id="inputSubmit">Submit</a>
</div>
<br><br><br><br>
<div class="container ">
    <div class="card glow row">
        <h2>Beers</h2>
        <div="card-content col s12 ">
        <ul id="beerList" class="list-group">
            <li>blah blah blah</li>
            {{#each beerlist}}
        <li>{{this.beer_name}}</li>
         <li>{{this.brewery}}</li>
         <li>{{this.abv}}</li>   
         <button class="btn btn-danger float-right delete">ｘ</button>
            {{/each}}
        </ul>
    </div>
</div>
</div>

