
<div class="navbar row">
    <a href="/search" class="search-nav"></a>
    <a href="/mybeers" class="my-nav"></a>
</div>
<div class="divider"></div>
</div>

<br>
<div class="container">
    <div class="form-group">
        <label for="Search">Search Brewery</label>
        <textarea class="form-control" id="example-description" aria-describedby="example-description"
            placeholder="Search"></textarea>
    </div>
    <button id="submit" class="black-text btn yellow accent-1">Submit</button>
    </form>
</div>


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Example</h5>
                    <p>
                        <strong>ID</strong>: {{example.id}}</p>
                    <p>
                        <p>
                            <strong>Beer</strong>: {{example.beer}}</p>
                        <p>
                            <strong>ABV</strong> {{example.abv}}</p>
                        
                </div>
            </div>
        </div>
    </div>
</div>