.list-group-item {
  line-height: 2.5;
}

h2 {
  font-size: 5px;
}

body {
  background-image: url("../assets/corner.jpg");
  background-size: 100%;
}

#submit {
  box-shadow: 0px 0px 25px white;
}

/* navbar light up effects */

.search-nav {
  content: url("../assets/search_off.png");
}

.search-nav:hover {
  content: url("../assets/search_on.png");
}

.my-nav {
 content: url("../assets/my_off.png");
}

.my-nav:hover {
  content: url("../assets/my_on.png");
}